.stick-compare {
  position: fixed;
  display: block;
  bottom: 0;
  width: 1220px;
}

.fixed-position {
  top: 0 !important;
  left: 0 !important;
  .ant-popover-arrow {
    display: none !important;
  }
}

#remove-confirm {
  position: absolute;
  left: 950px;
  top: -160px;
  width: 300px;
}

.small-stick {
  position: absolute;
  right: 0;
  top: -25px;
  ul {
    margin-top: -15px;
    padding-left: 5px;
    list-style: none;
    float: right;
    width: 165px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    border: 1px solid #ddd;
    border-bottom: 0;
    li {
      font-weight: 500;
      font-size: 14px;
      float: left;
      color: #666;
      cursor: pointer;
      padding: 10px 6px;
      &:first-child {
        color: #199cb7;
      }
      &:last-child {
        color: #D4232B;
      }
    }
  }
}

.full-stick {
  border: 1px solid #ddd;
  .col-compare {
    border-right: 1px solid #ddd;
    height: 120px;
    padding-top: 25px;
  }
  .icon-remove {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .row-compare {
    background: #fff;
    margin: 0 !important;
  }
  .show-more {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      margin-top: 25px;
    }
  }
}