.logo {
	float: left;
	cursor: pointer;
}

.logo-image {
	width: 124px;
	height: 39px;
}

.lazada-header {
	height: 72px;
	background: #183544;

	.header-wrapper {
		width: 1220px;
		margin: 0 auto;
	}
}